* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e81bf;
  display: flex;
  height: 100vh;
}

.main-container {
  background-color: white;
  height: auto;
  gap: 1rem;
  width: 350px;
  margin: auto;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  height: 100px;
  width: 100px;
}

.set-alarm input::-webkit-outer-spin-button,
.set-alarm input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.live-time-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.live-time-container span {
  font-size: 4.2rem;
}

.live-time-container .am-pm {
  font-size: large;
  font-weight: 800;
}

.set-alarm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.set-alarm input,
.set-alarm select {
  height: 30px;
  width: 100%;
  text-align: center;
  border: 1px solid #1e81bf;
  border-radius: 5px;
}

.set-alarm-button button {
  height: 30px;
  width: 100%;
  border: none;
  background-color: #1e81bf;
  color: aliceblue;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s ease;
}

.set-alarm-button button:active {
  background-color: #91c3e1;
}

.Alarm-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(172, 171, 171);
  padding: 5px;
  border-radius: 5px;
}

.Alarm-list p {
  font-weight: 500;
}

.Alarm-list button {
  width: 70px;
  border: none;
  font-weight: 500;
  background-color: hwb(0 0% 0%);
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.Alarm-list button:active {
  background-color: hwb(0 34% 0%);
}
